*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

    background-color: aqua;
}
nav{
    background-color: red;
    text-decoration: none;
}
nav ul{
    margin: 300px;
    list-style: none;
    margin: auto;
    text-decoration: none;
}